* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav  li {
    text-decoration: none;
    list-style: none;
    padding-left: 2%;
}

.container{
    width: 100%;
    text-align: center;
    height: 90vh;
}
input {
    width: 50vw;
    height: 30px;;
    border-radius: 20px;
    margin: 15px;
    border: 1px solid lightgray;
    
}
.img-go {
    padding-top: 20vh;
}
.search-go {
    margin: 0 auto;
    display: inline-block;

    
}

button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border-color: transparent;
}


.search-go li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    padding-top: 10px;;
    padding-left: 30px;
    
    
    
}

.footer  {
    display: flex;
    background-color: lightgray;
    width: 100%;
    height: 5vh;
    align-items: center;

}
.footer a {
    text-decoration: none;
    color: black;
}

.left {
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: flex-start;
    
}
.left li {
    padding: 0 10px 0 20px;
}


.right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    list-style-type: none;
}
    
.right li {
 padding: 0 20px 0 10px;    
}
    
    
